  <h1>Create a new post</h1>
  <form action="/posts/new" method="post">
    <label>Post Title: <input type="text" name="name" ></label><br>
    <label>Post Entry: <input type="text area" name="content" ></label>
    <input type="submit" name="submit" id="submit" value="Submit">
  </form>
